<div class="container2">
  <h3 class="smallCaps"><%= @question%></h1>
  <p class="smallCaps">- you</p>
  <h3 class="smallCaps"><%= @answer %></h1>
  <p class="smallCaps">- your coach</p>

  <%= link_to 'ask a new question', 'ask', class: "btn btn-danger" %>
</div>
