<div class="container1">
  <h1>Stupid Coaching</h1>
  <form class="form-control-lg" action="answer" data-turbo="false">
    <input type="text" name="question" placeholder="Ask a question to your coach">
    <input type="submit" class="btn btn-danger" value="Ask!">
  </form>
</div>
